/* Panton Caps als Schriftart */
@font-face {
  font-family: 'Panton Caps';
  src: url('fonts/panton.black-caps-webfont.woff2') format('woff2'), /* Für modernere Browser */
       url('fonts/panton.black-caps-webfont.woff') format('woff'); /* Für ältere Browser */
  font-weight: normal;
  font-style: normal;
}
/* Panton Caps als Schriftart */

/* Schriftart für alles */
body {
  font-family: Panton Caps;
}
/* Schriftart für alles */

/* Titel */
.layout_padding {
  padding-top: 90px;
  padding-bottom: 0;
}
/* Titel */

/* Deniis.dev Banner Logo */
.logo img,
.logo {
  width: 250px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 50px;
  }
}
/* Deniis.dev Banner Logo */

/* Navigations Bar */
.navbar-nav {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
/* Navigations Bar */

/* Navigations Optionen */
.nav-link {
  color: #282828;
  font-size: 18px;
  font-family: 'Panton Caps', Arial, sans-serif;
  text-align: center;
  margin: 0 10px;
}
/* Navigations Optionen */

/* Dark/Light Modus */
.theme-toggle button {
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #5865f1;
}

.theme-toggle button:hover {
  background-color: #3c44a4 !important;
}

.theme-toggle .themeIcon {
  width: 36px;
  height: 36px;
}

.theme-icon:hover {
  background-color: #3c44a4 !important;
}
/* Dark/Light Modus */

/* Sprachauswahl Dropdown Menü Abschnitt */
.dropdown-menu {
  right: 0%;
  left: auto;
  animation: dropdownAnimation 0.3s ease-in-out;
}

.ml-auto {
  margin-left: 5px;
}

@keyframes dropdownAnimation {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #5c5eff !important;
}

.dropdown-item img {
  height: 40px;
}

.dropdown-toggle:hover {
  background-color: #3c44a4 !important;
}

.dropdown-item.active {
  background-color: #5c5eff !important;
}
/* Sprachauswahl Dropdown Menü Abschnitt */

/* Titel Hintergrund Banner */
.banner_section {
  width: 100%;
  float: left;
  background-image: url(../images/banner-bg.png);
  height: auto;
  padding-bottom: 90px;
}
/* Titel Hintergrund Banner */

/* Seiten Titel */
.titel {
  width: 100%;
  float: left;
  font-size: 50px;
  color: #fdfdfe;
  text-align: center;
  padding-bottom: 40px;
  font-family: 'Panton Caps', Arial, sans-serif;
}

.titel2 {
  width: 100%;
  margin: 0 auto;
  font-size: 30px;
  color: #fdfdfe;
  text-align: center;
  font-weight: 600;
  font-family: 'Panton', Arial, sans-serif;
}

@media (max-width: 768px) {
  .titel2 {
    font-size: 24px;
  }
}
/* Seiten Titel */

/* Ellipse */
.ellipse {
  text-align: center;
  position: relative;
  top: -20px;
}
/* Ellipse */

/* Über mich Abschnitt */
.über_mich_titel {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #282828;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Panton Caps;
}

.über_mich_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #282828;
  text-align: center;
  margin-left: 0;
  font-family: 'Panton', Arial, sans-serif;
  margin-bottom: 100px;
}
/* Über mich Abschnitt */

/* Meine derzeitigen Programmiersprachen Abschnitt */
.currently_programming_languages {
  width: 100%;
  font-size: 40px;
  color: #282828;
}

.programming_languages {
  display: flex;
  align-items: center;
}

.programming_languages img {
  width: 500px;
  height: auto;
  margin-right: 20px;
}

.programming_languages p {
  padding: 10px;
  border-radius: 5px;
  font-family: 'Panton', Arial, sans-serif;
  font-size: 16px;
}
/* Meine derzeitigen Programmiersprachen Abschnitt */

/* Footer Abschnitt */
.footer_section {
  width: 100%;
  float: left;
  background-image: url(../images/footer-bg.png);
  height: auto;
  padding-bottom: 50px;
  margin-top: 90px;
}

.landing_text {
  width: 100%;
  float: left;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: #fefeff;
  font-family: 'Panton Caps', Arial, sans-serif;
}

@media (max-width: 768px) {
  .landing_text {
    font-size: 17px;
  }
}

.social_icon {
  text-align: center;
}

.social_icon ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social_icon li {
  display: inline-block;
  margin: 0 5px;
}

.socials img {
  width: 40px;
  height: 40px;
}
/* Footer Abschnitt */

/* Cookies Akzeptieren Abschnitt */
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 86%;
  transform: translateX(-50%);
  width: 25%;
  padding: 20px 0;
  background-color: #e6e6e6;
  text-align: center;
  z-index: 10000;
  display: none;
  border-radius: 25px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.cookie-banner p {
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
}

.accept-cookies {
  margin-top: 10px;
  padding: 5px 20px;
  cursor: pointer;
  background-color: #5865f1;
  color: white;
  border: none;
  border-radius: 5px;
}

.accept-cookies:hover {
  background-color: #3c47a0;
}

.cookie-banner.accepted {
  animation: slideRight 0.3s ease;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
/* Cookies Akzeptieren Abschnitt */

/* Dark/Light Mode Abschnitt */
body.dunkelmodus {
  background-color: #333333;
  color: #ffffff !important;
}

body.dunkelmodus .cookie-banner {
  background-color: #444444;
}

body.dunkelmodus a,
body.dunkelmodus .nav-link1,
body.dunkelmodus .nav-link2,
body.dunkelmodus .nav-link3,
body.dunkelmodus .header_section .container-fluid,
body.dunkelmodus .dropdown-menu,
body.dunkelmodus .über_mich_text,
body.dunkelmodus .über_mich_titel,
body.dunkelmodus .currently_programming_languages,
body.dunkelmodus .not_found_text,
body.dunkelmodus .container_not_found {
  color: #ffffff !important;
  background-color: #333333 !important;
}
/* Dark/Light Mode Abschnitt */

/* Projekte Abschnitt */
.project {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
}

.project_title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project_description {
  font-size: 16px;
  color: #333;
}

.project_description p {
  margin-bottom: 15px;
}

.project_title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #5865f1;
  margin-top: 10px;
}

.project_description::before {
  content: "\2022";
  color: #5865f1;
  font-size: 20px;
  margin-right: 10px;
}

/* Projekte Abschnitt */
